@model List<ContatoModel>

<table id="table-contatos-usuarios" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var Contato in Model)
            {
                <tr>
                    <th scope="row">@Contato.Id</th>
                    <td>@Contato.Nome</td>
                    <td>@Contato.Email</td>
                    <td>@Contato.Celular</td>
                </tr>
            }
        }
    </tbody>
</table>

