@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Pagina Restrita";
}

<p>Voce nao tem permissao para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Click aqui para voltar Home.</a></p>